<mat-toolbar color="primary">
  <button mat-button color="secondary" routerLink="">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div class="toolbar-title">
    Nuovo Buff
  </div>
</mat-toolbar>

<form class="buff-form">

  <mat-form-field class="name-buff" appearance="outline">
    <input matInput placeholder="Nome Buff" [(ngModel)]="buff.name" name="name">
    <mat-icon matSuffix color="accent">playlist_add</mat-icon>
  </mat-form-field>

  <mat-form-field class="name-buff">
    <textarea matInput placeholder="Descrizione" [(ngModel)]="buff.description" name="description"></textarea>
  </mat-form-field>

  <table cellspacing="0"><tr>
    <td><mat-icon matSuffix color="accent" class="icon-add-buff">fitness_center</mat-icon></td>
    <td><mat-form-field type="number" class="ts-buff">
      <input matInput placeholder="Bonus Tiro" [(ngModel)]="buff.hit" name="hit">
    </mat-form-field></td>
    <td><mat-form-field class="ts-buff">
      <input matInput type="number" placeholder="Bonus Danni" [(ngModel)]="buff.damage" name="damage">
    </mat-form-field></td>
  </tr></table>

  <table cellspacing="0"><tr>
    <td><mat-icon matSuffix color="accent" class="icon-add-buff">shield</mat-icon></td>
    <td>
      <mat-form-field type="number" class="ca-buff">
        <input matInput placeholder="Bonus Classe Armatura" [(ngModel)]="buff.ac" name="ac">
      </mat-form-field>
    </td>
  </tr></table>

  <table cellspacing="0"><tr>
    <td><mat-icon matSuffix color="accent" class="icon-add-buff">bolt</mat-icon></td>
    <td><mat-form-field type="number" class="ts-buff">
      <input matInput placeholder="Bonus Tempra" [(ngModel)]="buff.fortitude" name="fortitude">
    </mat-form-field></td>
    <td><mat-form-field class="ts-buff">
      <input matInput type="number" placeholder="Bonus Riflessi" [(ngModel)]="buff.reflex" name="reflex">
    </mat-form-field></td>
    <td><mat-form-field class="ts-buff">
      <input matInput type="number" placeholder="Bonus Volontà" [(ngModel)]="buff.will" name="will">
    </mat-form-field></td>
  </tr></table>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Altri
        </mat-panel-title>
      </mat-expansion-panel-header>

      <table cellspacing="0"><tr>
        <td>
          <mat-form-field class="ts-buff">
            <input matInput type="number" placeholder="Attacchi extra" [(ngModel)]="buff.extra_attack"
                   name="extra_attack">
          </mat-form-field>
        </td>

        <td>
          <mat-form-field>
            <mat-label>Tipo</mat-label>
            <mat-select [(ngModel)]="buff.type" name="type">
              <mat-option *ngFor="let t of types" [value]="t">
                {{ t }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      </table>

    </mat-expansion-panel>
  </mat-accordion>


  <div class="save-button-div">
      <button mat-flat-button color="primary" class="save-button" (click)="saveBuff($event)">Salva</button>
  </div>

</form>





