<mat-toolbar color="primary">
  <button mat-button color="secondary" routerLink="" style="left: -1rem">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div class="toolbar-title">
    Nuovo Buff
  </div>
</mat-toolbar>

<mat-drawer-container>

<form class="buff-form">

  <mat-form-field class="name-buff" appearance="outline">
    <input matInput placeholder="Nome Buff" [(ngModel)]="buff.name" name="name">
    <mat-icon matSuffix color="accent">playlist_add</mat-icon>
  </mat-form-field>

  <mat-form-field class="name-buff">
    <textarea matInput placeholder="Descrizione" [(ngModel)]="buff.description" name="description"></textarea>
  </mat-form-field>

  <table cellspacing="0"><tr>
    <td><mat-icon matSuffix color="accent" class="icon-add-buff">fitness_center</mat-icon></td>
    <td><mat-form-field class="ts-buff">
      <input matInput type="number" placeholder="Bonus Tiro" [(ngModel)]="buff.hit" name="hit">
    </mat-form-field></td>
    <td><mat-form-field class="ts-buff">
      <input matInput type="number" placeholder="Bonus Danni" [(ngModel)]="buff.damage" name="damage">
    </mat-form-field></td>
  </tr></table>

  <table cellspacing="0"><tr>
    <td><mat-icon matSuffix color="accent" class="icon-add-buff">shield</mat-icon></td>
    <td>
      <mat-form-field class="ca-buff">
        <input matInput type="number" placeholder="Bonus Classe Armatura" [(ngModel)]="buff.ac" name="ac">
      </mat-form-field>
    </td>
  </tr></table>

  <table cellspacing="0"><tr>
    <td><mat-icon matSuffix color="accent" class="icon-add-buff">bolt</mat-icon></td>
    <td><mat-form-field class="ts-buff">
      <input matInput type="number" placeholder="Bonus Tempra" [(ngModel)]="buff.fortitude" name="fortitude">
    </mat-form-field></td>
    <td><mat-form-field class="ts-buff">
      <input matInput type="number" placeholder="Bonus Riflessi" [(ngModel)]="buff.reflex" name="reflex">
    </mat-form-field></td>
    <td><mat-form-field class="ts-buff">
      <input matInput type="number" placeholder="Bonus Volontà" [(ngModel)]="buff.will" name="will">
    </mat-form-field></td>
  </tr></table>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Altri
        </mat-panel-title>
      </mat-expansion-panel-header>

      <table cellspacing="0"><tr>
        <td>
          <mat-form-field class="ts-buff">
            <input matInput type="number" placeholder="Attacchi extra" [(ngModel)]="buff.extra_attack"
                   name="extra_attack">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="ts-buff">
            <mat-label>Tipo</mat-label>
            <mat-select [(ngModel)]="buff.type" name="type">
              <mat-option *ngFor="let t of types" [value]="t">
                {{ t }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="ts-buff">
            <mat-label>Aumento Taglia</mat-label>
            <mat-select [(ngModel)]="buff.size" name="size">
              <mat-option *ngFor="let s of sizes" [value]="s">
                {{ s }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      </table>

      <div class="attr-table">
        <table>
          <tr>
            <td>
              <mat-form-field class="stat">
                <input matInput type="number" placeholder="FOR Bonus" [(ngModel)]="buff.strength_bonus" name="strength_bonus">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="stat">
                <input matInput type="number" placeholder="INT Bonus" [(ngModel)]="buff.intelligence_bonus" name="intelligence_bonus">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="stat">
                <input matInput type="number" placeholder="DES Bonus" [(ngModel)]="buff.dexterity_bonus" name="dexterity_bonus">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="stat">
                <input matInput type="number" placeholder="SAG Bonus" [(ngModel)]="buff.wisdom_bonus" name="wisdom_bonus">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="stat">
                <input matInput type="number" placeholder="COS Bonus" [(ngModel)]="buff.constitution_bonus" name="consitution_bonus">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="stat">
                <input matInput type="number" placeholder="CAR Bonus" [(ngModel)]="buff.charisma_bonus" name="charisma_bonus">
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
</form>
</mat-drawer-container>

<div class="save-button-div">
  <button mat-flat-button color="primary" class="save-button" (click)="saveBuff($event)">Salva</button>
</div>







