.toolbar-title {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

mat-toolbar {
}

mat-drawer-container {
  flex: 1 1 auto;
  flex-grow: 1;
  overflow: auto;
}

mat-placeholder {
  font-size: small;
}

mat-label {
  font-size: small;
}

mat-tab {
  width: 100%;
}

.pg-form {
  max-width: 500px;
  width: 95%;
  margin: 1rem auto 3rem;
  text-align: center;
}

.element-edit-table {
  width: 95%;
  margin: 1rem auto;
}

.row {
  display: flex;
  width: 95%;
  margin: 0 auto;
}

.hidden-row {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.column {
  width: 100%;
  margin: 0 auto;
}

.column3 {
  max-width: 8rem;
  margin: 0 auto;
}

.info-row {
  display: flex;
}

.info-col {
  flex: 90%;
  text-align: center;
}

.attr-table {
  text-align: center;
}

.stat {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  max-width: 9rem;
}

.stat3 {
  width: 55%;
  max-width: 8rem;
}

.del-button {
  position: relative;
  text-align: center;
  margin-left: 1rem;
  margin-right: 0.5rem;
  width: 9rem;
}

.save-button {
  position: relative;
  text-align: center;
  margin-left: 0.5rem;
  margin-right: 1rem;
  width: 9rem;
}

.icon-add-buff {
  position: relative;
  float: left;
  margin-right: 1rem;
}

.save-button-div {
  position: fixed;
  bottom: 1rem;
  width: 21rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1
}

.radio-buttons {
  display: flex;
  flex-direction: row;
}

.radio-button {
  margin: 1rem;
}


