<mat-toolbar color="primary">
  <button mat-button color="secondary" routerLink="">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div class="toolbar-title">
    Modifica Personaggio
  </div>
</mat-toolbar>

<form class="pg-form">
  <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
    <mat-tab label="Statistiche">
      <div class="row">
        <div class="column">
          <mat-form-field class="stat">
            <input matInput placeholder="FOR">
          </mat-form-field>
        </div>
        <div class="column">
          <mat-form-field class="stat">
            <input matInput placeholder="INT">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <mat-form-field class="stat">
            <input matInput placeholder="DES">
          </mat-form-field>
        </div>
        <div class="column">
          <mat-form-field class="stat">
            <input matInput placeholder="SAG">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <mat-form-field class="stat">
            <input matInput placeholder="COS">
          </mat-form-field>
        </div>
        <div class="column">
          <mat-form-field class="stat">
            <input matInput placeholder="CAR">
          </mat-form-field>
        </div>
      </div>
      <div style="padding-top: 7%">
        <div class="row">
          <div class="column">
            <mat-form-field class="stat">
              <input matInput placeholder="Punti Ferita">
            </mat-form-field>
          </div>
          <div class="column">
            <mat-form-field class="stat">
              <input matInput placeholder="Tempra">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <mat-form-field class="stat">
              <input matInput placeholder="Bonus Attacco Base">
            </mat-form-field>
          </div>
          <div class="column">
            <mat-form-field class="stat">
              <input matInput placeholder="Riflessi">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <mat-form-field class="stat">
              <input matInput placeholder="Iniziativa">
            </mat-form-field>
          </div>
          <div class="column">
            <mat-form-field class="stat">
              <input matInput placeholder="Volontà">
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Informazioni">
      <div style="text-align: center">
        <div class="info-row">
          <div class="info-col">
            <mat-form-field appearance="outline" style="width: 90%; margin-top: 5%">
              <input matInput placeholder="Nome Personaggio">
            </mat-form-field>
          </div>
        </div>
        <div class="info-row">
          <div class="info-col">
            <mat-form-field appearance="outline" style="width: 90%">
              <input matInput placeholder="Razza">
            </mat-form-field>
          </div>
        </div>
        <div class="info-row">
          <div class="info-col">
            <mat-form-field appearance="outline" style="width: 90%">
              <mat-label>Classe</mat-label>
              <mat-select>
                <mat-option *ngFor="let c of classes" [value]="c">
                  {{ c }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="info-row">
          <div class="info-col50">
            <mat-form-field appearance="outline" style="width: 60%">
              <mat-label>Livello</mat-label>
              <mat-select>
                <mat-option *ngFor="let l of levels" [value]="l">
                  {{ l }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="info-col50">
            <mat-form-field appearance="outline" style="width: 60%">
              <mat-label>Taglia</mat-label>
              <mat-select>
                <mat-option *ngFor="let s of sizes" [value]="s">
                  {{ s }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="save-button-div">
    <div style="margin-bottom: 3%">
      <button mat-flat-button color="primary" routerLink="" class="save-button">Salva</button>
    </div>
    <div>
      <button mat-flat-button color="warn" routerLink="" class="delete-button">Elimina</button>
    </div>
  </div>
</form>
