.toolbar-title {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

mat-toolbar {
}

.pg-form {
  position: absolute;
  float: top;
  align-content: center;
  align-self: center;
  width: 90%;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  max-width: 500px;
}

.row {
  display: flex;
  width: 100%;
}

.column {
  flex: 50%;
  text-align: center;
}

.info-row {
  display: flex;
}

.info-col {
  flex: 90%;
  text-align: center;
}

.attr-table {
  text-align: center;
}

.stat {
  width: 55%;
}

.save-button {
  width: 100%;
}

.delete-button {
  width: 100%;
}

.radio-buttons {
  display: flex;
  flex-direction: column;
}

.save-button-div {
  align-content: center;
  text-align: center;
  align-self: center;
  width: 75%;
  position: fixed;
  left: 50%;
  margin-left: -37.5%;
  bottom: 0.5rem;
  z-index: 1;
  margin-bottom: 3%;
}
