.buff-form {
  max-width: 500px;
  position: absolute;
  float: top;
  align-content: center;
  align-self: center;
  width: 90%;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.name-buff {
  width: 100%;
  flex-direction: column;
  align-content: center;
}

.ts-buff {
  width: 90%;
  max-width: 6rem;
}

.ca-buff {
  width: 90%;
}

.del-button {
  text-align: center;
  width: 100%;
  z-index: 1;
}

.icon-add-buff {
  position: relative;
  float: left;
  margin-right: 1rem;
}

.save-button-div {
  width: 75%;
  position: fixed;
  left: 50%;
  margin-left: -37.5%;
  bottom: 1rem;
  align-items: center;
}

