<mat-toolbar color="primary">
  <button mat-button color="secondary" routerLink="" style="left: -1rem">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div class="toolbar-title">
    Modifica Buff
  </div>
</mat-toolbar>

<mat-drawer-container>

<form class="buff-form">

  <mat-form-field class="name-buff" appearance="outline">
    <input matInput placeholder="Nome Buff" [(ngModel)]="buffToEdit.name" name="name_e">
    <mat-icon matSuffix color="accent">playlist_add</mat-icon>
  </mat-form-field>

  <mat-form-field class="name-buff">
    <textarea matInput placeholder="Descrizione" [(ngModel)]="buffToEdit.description" name="description_e"></textarea>
  </mat-form-field>

  <table cellspacing="0"><tr>
    <td><mat-icon matSuffix color="accent" class="icon-add-buff">fitness_center</mat-icon></td>
    <td><mat-form-field class="ts-buff">
      <input matInput type="number" placeholder="Bonus Tiro" [(ngModel)]="buffToEdit.hit" name="hit_e">
    </mat-form-field></td>
    <td><mat-form-field class="ts-buff">
      <input matInput type="number" placeholder="Bonus Danni" [(ngModel)]="buffToEdit.damage" name="damage_e">
    </mat-form-field></td>
  </tr></table>

  <table cellspacing="0"><tr>
    <td><mat-icon matSuffix color="accent" class="icon-add-buff">shield</mat-icon></td>
    <td>
      <mat-form-field class="ca-buff">
        <input matInput type="number" placeholder="Bonus Classe Armatura" [(ngModel)]="buffToEdit.ac" name="ac_e">
      </mat-form-field>
    </td>
  </tr></table>

  <table cellspacing="0"><tr>
    <td><mat-icon matSuffix color="accent" class="icon-add-buff">bolt</mat-icon></td>
    <td><mat-form-field class="ts-buff">
      <input matInput type="number" placeholder="Bonus Tempra" [(ngModel)]="buffToEdit.fortitude" name="fortitude_e">
    </mat-form-field></td>
    <td><mat-form-field class="ts-buff">
      <input matInput type="number" placeholder="Bonus Riflessi" [(ngModel)]="buffToEdit.reflex" name="reflex_e">
    </mat-form-field></td>
    <td><mat-form-field class="ts-buff">
      <input matInput type="number" placeholder="Bonus Volontà" [(ngModel)]="buffToEdit.will" name="will_e">
    </mat-form-field></td>
  </tr></table>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Altri
        </mat-panel-title>
      </mat-expansion-panel-header>

      <table cellspacing="0"><tr>
        <td>
          <mat-form-field class="ts-buff">
            <input matInput type="number" placeholder="Attacchi in più" [(ngModel)]="buffToEdit.extra_attack"
                   name="extra_attack_e">
          </mat-form-field>
        </td>

        <td>
          <mat-form-field class="ts-buff">
            <mat-label>Tipo</mat-label>
            <mat-select [(ngModel)]="buffToEdit.type" name="type_e">
              <mat-option *ngFor="let t of types" [value]="t">
                {{ t }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>

        <td>
          <mat-form-field class="ts-buff">
            <mat-label>Aumento Taglia</mat-label>
            <mat-select [(ngModel)]="buffToEdit.size" name="size_e">
              <mat-option *ngFor="let s of sizes" [value]="s">
                {{ s }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      </table>

      <div class="attr-table">
        <table>
          <tr>
            <td>
              <mat-form-field class="stat">
                <input matInput type="number" placeholder="FOR Bonus" [(ngModel)]="buffToEdit.strength_bonus" name="strength_bonus">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="stat">
                <input matInput type="number" placeholder="INT Bonus" [(ngModel)]="buffToEdit.intelligence_bonus" name="intelligence_bonus">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="stat">
                <input matInput type="number" placeholder="DES Bonus" [(ngModel)]="buffToEdit.dexterity_bonus" name="dexterity_bonus">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="stat">
                <input matInput type="number" placeholder="SAG Bonus" [(ngModel)]="buffToEdit.wisdom_bonus" name="wisdom_bonus">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="stat">
                <input matInput type="number" placeholder="COS Bonus" [(ngModel)]="buffToEdit.constitution_bonus" name="consitution_bonus">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="stat">
                <input matInput type="number" placeholder="CAR Bonus" [(ngModel)]="buffToEdit.charisma_bonus" name="charisma_bonus">
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>

    </mat-expansion-panel>
  </mat-accordion>

</form>

</mat-drawer-container>

<table cellspacing="0" class="save-button-div"><tr>
  <td><button mat-flat-button color="warn" (click)="openDoubleCheckDialog($event)" class="del-button">Elimina</button></td>
  <td><button mat-flat-button color="primary" (click)="saveBuff($event)" class="save-button">Salva</button></td>
</tr>
</table>



