<mat-label mat-dialog-title>Sei sicuro?</mat-label>
<mat-dialog-content>
  <div style="align-content: center; margin-bottom: 2rem">
    <mat-label>Una volta eliminato, il buff non potrà essere recuperato.</mat-label>
  </div>
  <table class="button-table">
    <tr style="text-align: center">
      <td style="text-align: center">
        <button mat-button mat-dialog-close="false">Annulla</button>
      </td>
      <td style="text-align: center">
        <button mat-raised-button mat-dialog-close="true" color="warn">Elimina</button>
      </td>
    </tr>
  </table>
</mat-dialog-content>

