<mat-toolbar color="primary">
  <button mat-button color="secondary" routerLink="">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div class="toolbar-title">
    Crea nuovo personaggio
  </div>
</mat-toolbar>

<mat-drawer-container>
  <mat-grid-list cols="3">
    <mat-grid-tile>

    </mat-grid-tile>
    <mat-grid-tile>

    </mat-grid-tile>
    <mat-grid-tile>
      <button type="button" mat-flat-button color="primary" align-self-end>Crea</button>
    </mat-grid-tile>
  </mat-grid-list>
</mat-drawer-container>
