.toolbar-title {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

mat-toolbar {
}

.pg-form {
  max-width: 500px;
  position: absolute;
  float: top;
  align-content: center;
  align-self: center;
  width: 90%;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.name-pg {
  width: 100%;
  flex-direction: column;
  align-content: center;
}

.race-pg {
  width: 100%;
  flex-direction: column;
  align-content: center;
}

.class-pg {
  width: 100%;
  flex-direction: column;
  align-content: center;
}

.level-pg {
  flex: 50%;
  text-align: center;
  max-width: 100px;
}

.size-pg {
  flex: 50%;
  text-align: center;
  max-width: 100px;
  padding-left: 5%;
}

.row {
  display: flex;
  width: 100%;
}

.attr-table {
  align-content: center;
  align-self: center;
  text-align: center;
  width: 90%;
  max-width: 500px;
}

.stat {
  width: 50%;
  max-width: 200px;
}

.next {
  width: 100%;
  margin-right: 10%;
  margin-left: 5%;
}

.next-first {
  width: 100%;
  margin-right: 10%;
  margin-left: 75%;
}

.next-button {
  margin-right: 10%;
  margin-left: 2%;
}

.back-button {
  margin-left: 45%;
  margin-right: -66%;
}


.save-button {
  margin-left: 64%;
}

.icon-add-buff {
  position: relative;
  float: left;
  margin-right: 1rem;
}

.save-button-div {
}
