.normal-card {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;;
}

.colp-card {
    resize: horizontal;
}

.danni-card {
    resize: horizontal;
}

.edit-buff-button {
    position: absolute;
    right: 2rem;
    up: 0rem;
    z-index: 1;
}

.option-row {
    z-index: 0;
}

.primary-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 2;
}
