

<mat-drawer-container>
    <mat-drawer #drawer class="sidenav">
        <mat-toolbar color="primary" label="Lista Personaggi">
            <mat-label >Lista Personaggi</mat-label>
            <button type="button" class="x-button" mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-label="close">close</mat-icon>
            </button>
        </mat-toolbar>
        <mat-nav-list *ngFor="let c of allCharacters">
            <a mat-list-item (click)="onSelChange(c); drawer.toggle()" [ngClass]="c === actualGameCharacter ? 'selected' : 'unselected'">
                <mat-icon aria-label="face">face</mat-icon>
                <mat-label style="padding-left: 5%">{{ c.name }}</mat-label>
                <button class="edit-char-button" mat-icon-button (click)="editCharacter($event, c); drawer.toggle()">
                    <mat-icon>edit</mat-icon>
                </button>
            </a>
        </mat-nav-list>
        <button mat-raised-button class="new-button" (click)="addCharacter(); drawer.toggle()" color="primary">
            Nuovo
        </button>
    </mat-drawer>

    <mat-toolbar color="primary" id="home-toolbar">
        <button type="button" mat-icon-button (click)="drawer.toggle()">
            <mat-icon aria-label="menu">menu</mat-icon>
        </button>
        <div class="selected-pg-div">
            <span class="selected-pg"> {{ selection }} </span>
        </div>
        <button type="button" mat-icon-button style="position: absolute;right: 1rem;">
            <mat-icon aria-label="face" (click)="characterStats($event)">face</mat-icon>
        </button>
    </mat-toolbar>

    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">

        <mat-tab label="COMBAT">

            <mat-grid-list cols="2" rowHeight="9rem">
                <mat-grid-tile>
                    <mat-card class="normal-card-combat">
                        <mat-card-title [(ngModel)]="actualHits" ngDefaultControl>Tiri: <b>+{{ actualHits }}</b></mat-card-title>
                        <mat-card-footer>
                            <ng-container *ngFor="let buff of selectedCombatBuffs">
                                <mat-icon *ngIf="buff.isBonus === true && buff.combat_list" color="accent" class="mat-icon-sel">arrow_drop_up</mat-icon>
                            </ng-container>

                            <ng-container *ngFor="let buff of selectedCombatBuffs">
                                <mat-icon *ngIf="buff.isBonus === false && buff.combat_list" class="mat-icon-sel">arrow_drop_down</mat-icon>
                            </ng-container>
                        </mat-card-footer>
                    </mat-card>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-card class="normal-card-combat">
                        <mat-card-title [(ngModel)]="actualDamages" ngDefaultControl>
                            Danni: <b>{{ actualWeaponDice }} +{{ actualDamages }}</b> </mat-card-title>

                        <mat-card-footer>
                            <ng-container *ngFor="let buff of selectedCombatBuffs">
                                <mat-icon *ngIf="buff.isBonus === true && buff.combat_list" color="accent" class="mat-icon-sel">arrow_drop_up</mat-icon>
                            </ng-container>

                            <ng-container *ngFor="let buff of selectedCombatBuffs">
                                <mat-icon *ngIf="buff.isBonus === false && buff.combat_list" class="mat-icon-sel">arrow_drop_down</mat-icon>
                            </ng-container>
                        </mat-card-footer>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-chip-list [(ngModel)]="selectedCombatBuffs">
                <ng-container *ngFor="let buff of selectedCombatBuffs">
                    <mat-chip *ngIf="null !== buff.description" style="left: 1rem">
                        <small><i> {{ buff.description }}</i></small>
                    </mat-chip>
                </ng-container>
            </mat-chip-list>

            <mat-selection-list [(ngModel)]="selectedCombatBuffs" (ngModelChange)="onBuffSelectionChange(selectedCombatBuffs)">
                <ng-container *ngFor="let buff of buffs">
                    <mat-list-option [ngClass]="buff.combat_list ? 'option-row' : 'hidden-option-row'" checkboxPosition="before" [value]="buff" [selected]="buff.selected">
                        <div style="display:flex; justify-content:space-between;align-items:center">
                            <div style="display:flex;align-items:center">
                                <div style="display:flex; flex-direction:column">
                                    <div>
                                        {{ buff.name }}
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button mat-icon-button (click)="editBuff($event, buff)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                    </mat-list-option>
                </ng-container>
            </mat-selection-list>
        </mat-tab>

        <mat-tab label="CA">
            <mat-grid-list cols="1" rowHeight="9rem">
                <mat-grid-tile>
                    <mat-card class="normal-card">
                        <mat-card-title [(ngModel)]="actualArmor" ngDefaultControl>
                            Classe Armatura: <b>{{ actualArmor }}</b>
                        </mat-card-title>

                        <mat-card-footer>
                            <ng-container *ngFor="let buff of selectedCombatBuffs">
                                <mat-icon *ngIf="buff.isBonus === true && buff.ac_list" color="accent" class="mat-icon-sel">arrow_drop_up</mat-icon>
                            </ng-container>

                            <ng-container *ngFor="let buff of selectedCombatBuffs">
                                <mat-icon *ngIf="buff.isBonus === false && buff.ac_list" class="mat-icon-sel">arrow_drop_down</mat-icon>
                            </ng-container>
                        </mat-card-footer>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-chip-list [(ngModel)]="selectedCombatBuffs">
                <ng-container *ngFor="let buff of selectedCombatBuffs">
                    <mat-chip *ngIf="null !== buff.description" style="left: 1rem">
                        <small><i> {{ buff.description }}</i></small>
                    </mat-chip>
                </ng-container>
            </mat-chip-list>

            <mat-selection-list [(ngModel)]="selectedCombatBuffs" (ngModelChange)="onBuffSelectionChange(selectedCombatBuffs)">
                <ng-container *ngFor="let buff of buffs">
                    <mat-list-option [ngClass]="buff.ac_list ? 'option-row' : 'hidden-option-row'" checkboxPosition="before"
                                     [value]="buff" [selected]="buff.selected">
                        <div style="display:flex; justify-content:space-between;align-items:center">
                        <div style="display:flex;align-items:center">
                            <div style="display:flex; flex-direction:column">
                                <div>
                                    {{ buff.name }}
                                </div>
                            </div>
                        </div>
                        <div>
                            <button mat-icon-button (click)="editBuff($event, buff)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                    </div>
                        <mat-divider></mat-divider>
                    </mat-list-option>
                </ng-container>
            </mat-selection-list>
        </mat-tab>

        <mat-tab label="TS">
            <mat-grid-list cols="3" rowHeight="9rem">
                <mat-grid-tile>
                    <mat-card class="ts-card">
                        <mat-card-title [(ngModel)]="actualFortitude" ngDefaultControl>Tempra: <b>+{{ actualFortitude }}</b></mat-card-title>
                        <mat-card-footer>
                            <ng-container *ngFor="let buff of selectedCombatBuffs">
                                <mat-icon *ngIf="buff.isBonus === true && buff.st_list" color="accent" class="mat-icon-sel">arrow_drop_up</mat-icon>
                            </ng-container>

                            <ng-container *ngFor="let buff of selectedCombatBuffs">
                                <mat-icon *ngIf="buff.isBonus === false && buff.st_list" class="mat-icon-sel">arrow_drop_down</mat-icon>
                            </ng-container>
                        </mat-card-footer>
                    </mat-card>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-card class="ts-card">
                        <mat-card-title [(ngModel)]="actualReflex" ngDefaultControl>Riflessi: <b>+{{ actualReflex }}</b></mat-card-title>

                        <mat-card-footer>
                            <ng-container *ngFor="let buff of selectedCombatBuffs">
                                <mat-icon *ngIf="buff.isBonus === true && buff.st_list" color="accent" class="mat-icon-sel">arrow_drop_up</mat-icon>
                            </ng-container>

                            <ng-container *ngFor="let buff of selectedCombatBuffs">
                                <mat-icon *ngIf="buff.isBonus === false && buff.st_list" class="mat-icon-sel">arrow_drop_down</mat-icon>
                            </ng-container>
                        </mat-card-footer>
                    </mat-card>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-card class="ts-card">
                        <mat-card-title [(ngModel)]="actualWill" ngDefaultControl>Volontà: <b>+{{ actualWill }}</b></mat-card-title>

                        <mat-card-footer>
                            <ng-container *ngFor="let buff of selectedCombatBuffs">
                                <mat-icon *ngIf="buff.isBonus === true && buff.st_list" color="accent" class="mat-icon-sel">arrow_drop_up</mat-icon>
                            </ng-container>

                            <ng-container *ngFor="let buff of selectedCombatBuffs">
                                <mat-icon *ngIf="buff.isBonus === false && buff.st_list" class="mat-icon-sel">arrow_drop_down</mat-icon>
                            </ng-container>
                        </mat-card-footer>
                    </mat-card>
                </mat-grid-tile>

            </mat-grid-list>

            <mat-chip-list [(ngModel)]="selectedCombatBuffs">
                <ng-container *ngFor="let buff of selectedCombatBuffs">
                    <mat-chip *ngIf="null !== buff.description" style="left: 1rem">
                        <small><i> {{ buff.description }}</i></small>
                    </mat-chip>
                </ng-container>
            </mat-chip-list>

            <mat-selection-list [(ngModel)]="selectedCombatBuffs"
                                (ngModelChange)="onBuffSelectionChange(selectedCombatBuffs)">

                <ng-container *ngFor="let buff of buffs">
                    <mat-list-option [ngClass]="buff.st_list ? 'option-row' : 'hidden-option-row'" checkboxPosition="before"
                                     [value]="buff" [selected]="buff.selected">
                        <div style="display:flex; justify-content:space-between;align-items:center">
                        <div style="display:flex;align-items:center">
                            <div style="display:flex; flex-direction:column">
                                <div>
                                    {{ buff.name }}
                                </div>
                            </div>
                        </div>
                        <div>
                            <button mat-icon-button (click)="editBuff($event, buff)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                    </div>
                        <mat-divider></mat-divider>
                    </mat-list-option>
                </ng-container>
            </mat-selection-list>
        </mat-tab>

    </mat-tab-group>

</mat-drawer-container>

<div class="primary-button">
    <button mat-fab color="primary" (click)="addBuffPage()">
        <mat-icon>add</mat-icon>
    </button>
</div>
