<mat-drawer-container>
    <mat-drawer #drawer class="sidenav">
        <mat-toolbar color="primary" label="Lista Personaggi">
            <mat-label style="width: 70%">Lista Personaggi</mat-label>
            <button type="button" mat-icon-button style="width: 30%" (click)="drawer.toggle()">
                <mat-icon aria-label="close">close</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list *ngFor="let c of allCharacters">
            <a id="pg" mat-list-item (click)="onSelChange(c);drawer.toggle()">
                <mat-icon aria-label="face">face</mat-icon>
                <mat-label style="padding-left: 5%">{{ c.name }}</mat-label>
                <button class="edit-char-button" mat-icon-button (click)="editCharacter($event, c)">
                    <mat-icon>edit</mat-icon>
                </button>
            </a>
        </mat-nav-list>
        <mat-grid-list cols="1">
            <mat-grid-tile>
                <button mat-raised-button class="new-button" (click)="addCharacter(); drawer.toggle()" color="primary">
                    Nuovo
                </button>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-drawer>

    <div class="sidenav-content">
        <mat-toolbar color="primary">
            <button type="button" mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-label="menu">menu</mat-icon>
            </button>
            <div class="selected-pg-div">
                <span class="selected-pg"> {{ selection }} </span>
            </div>
            <button type="button" mat-icon-button style="position: fixed;right: 1rem;">
                <mat-icon aria-label="face" (click)="characterStats($event)">face</mat-icon>
            </button>
        </mat-toolbar>
    </div>

    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">

        <mat-tab label="COMBAT">

            <mat-grid-list cols="2" rowHeight="10rem">
                <mat-grid-tile>
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title [(ngModel)]="actualHits" ngDefaultControl>Tiri: +{{ actualHits }}</mat-card-title>
                        </mat-card-header>

                        <mat-card-content>
                            <p>
                                Buffs selezionati: {{ combatBuffs.selectedOptions.selected.length }}
                            </p>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>

                <mat-grid-tile>

                    <mat-card>
                        <mat-card-header>
                            <mat-card-title [(ngModel)]="actualDamages" ngDefaultControl>
                                Danni: {{ getWeaponDice() }} +{{ actualDamages }} </mat-card-title>
                        </mat-card-header>

                        <mat-card-content>
                            <p>
                                Buffs selezionati: {{ combatBuffs.selectedOptions.selected.length }}
                            </p>
                        </mat-card-content>
                    </mat-card>

                </mat-grid-tile>

            </mat-grid-list>

            <mat-chip-list [(ngModel)]="selectedCombatBuffs">
                <ng-container *ngFor="let buff of selectedCombatBuffs">
                    <mat-chip *ngIf="null !== buff.description" style="left: 1rem">
                        <small><i> {{ buff.description }}</i></small>
                    </mat-chip>
                </ng-container>
            </mat-chip-list>

            <mat-selection-list #combatBuffs [(ngModel)]="selectedCombatBuffs"
                                (ngModelChange)="onBuffSelectionChange(selectedCombatBuffs)">
                <ng-container *ngFor="let buff of buffs">
                    <mat-list-option *ngIf="buff.combat_list === true" class="option-row" [value]="buff">
                            <div style="display:flex; justify-content:space-between;align-items:center">
                                <div style="display:flex;align-items:center">
                                    <div style="display:flex; flex-direction:column">
                                        <div>
                                            {{ buff.name }}
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button mat-icon-button (click)="editBuff($event, buff)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                    </mat-list-option>
                </ng-container>
            </mat-selection-list>

        </mat-tab>

        <mat-tab label="CA">
            <mat-grid-list cols="1" rowHeight="10rem" gutterSize="1rem">
                <mat-grid-tile>
                    <mat-card class="normal-card">
                        <mat-card-header>
                            <mat-card-title [(ngModel)]="actualArmor" ngDefaultControl>
                                Classe armatura: {{ actualArmor }}
                            </mat-card-title>
                        </mat-card-header>

                        <mat-card-content>
                            <p>
                                Buffs selezionati: {{ acBuffs.selectedOptions.selected.length }}
                            </p>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-chip-list [(ngModel)]="selectedAcBuffs">
                <ng-container *ngFor="let buff of selectedAcBuffs">
                    <mat-chip *ngIf="null !== buff.description" style="left: 1rem">
                        <small><i> {{ buff.description }}</i></small>
                    </mat-chip>
                </ng-container>
            </mat-chip-list>

            <mat-selection-list #acBuffs [(ngModel)]="selectedAcBuffs"
                                (ngModelChange)="onBuffSelectionChange(selectedAcBuffs)">

                <ng-container *ngFor="let buff of buffs">
                    <mat-list-option *ngIf="buff.ac_list === true" class="option-row" [value]="buff">                    <div style="display:flex; justify-content:space-between;align-items:center">
                        <div style="display:flex;align-items:center">
                            <div style="display:flex; flex-direction:column">
                                <div>
                                    {{ buff.name }}
                                </div>
                            </div>
                        </div>
                        <div>
                            <button mat-icon-button (click)="editBuff($event, buff)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                        </div>
                        <mat-divider></mat-divider>
                    </mat-list-option>
                </ng-container>
            </mat-selection-list>
        </mat-tab>

        <mat-tab label="TS">
            <mat-grid-list cols="3" rowHeight="10rem" gutterSize="1rem">
                <mat-grid-tile>
                    <mat-card class="ts-card">
                        <mat-card-header [(ngModel)]="actualFortitude" ngDefaultControl>
                            <mat-card-title>Tempra: {{ actualFortitude }}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                Buffs selezionati: {{ stBuffs.selectedOptions.selected.length }}
                            </p>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-card class="ts-card">
                        <mat-card-header [(ngModel)]="actualReflex" ngDefaultControl>
                            <mat-card-title>Riflessi: {{ actualReflex }}</mat-card-title>
                        </mat-card-header>

                        <mat-card-content>
                            <p>
                                Buffs selezionati: {{ stBuffs.selectedOptions.selected.length }}
                            </p>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-card class="ts-card">
                        <mat-card-header [(ngModel)]="actualWill" ngDefaultControl>
                            <mat-card-title>Volontà: {{ actualWill }}</mat-card-title>
                        </mat-card-header>

                        <mat-card-content>
                            <p>
                                Buffs selezionati: {{ stBuffs.selectedOptions.selected.length }}
                            </p>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>

            </mat-grid-list>

            <mat-chip-list [(ngModel)]="selectedStBuffs">
                <ng-container *ngFor="let buff of selectedStBuffs">
                    <mat-chip *ngIf="null !== buff.description" style="left: 1rem">
                        <small><i> {{ buff.description }}</i></small>
                    </mat-chip>
                </ng-container>
            </mat-chip-list>

            <mat-selection-list #stBuffs [(ngModel)]="selectedStBuffs"
                                (ngModelChange)="onBuffSelectionChange(selectedStBuffs)">

                <ng-container *ngFor="let buff of buffs">
                    <mat-list-option *ngIf="buff.st_list === true" class="option-row" [value]="buff">                      <div style="display:flex; justify-content:space-between;align-items:center">
                            <div style="display:flex;align-items:center">
                                <div style="display:flex; flex-direction:column">
                                    <div>
                                        {{ buff.name }}
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button mat-icon-button (click)="editBuff($event, buff)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                    </mat-list-option>
                </ng-container>
            </mat-selection-list>
        </mat-tab>

    </mat-tab-group>

    <div class="primary-button">
        <button mat-fab color="primary" (click)="addBuffPage()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</mat-drawer-container>
