mat-drawer-container {
    flex: 1 1 auto;
    flex-grow: 1;
    overflow: auto;
}

mat-toolbar {
    height: 5rem;
}

.sidenav {
    position: fixed;
    width: 80%;
    max-width: 20rem;
    top: 0;
}

.x-button {
    position: absolute;
    right: 1rem;
}

.new-button {
    width: 80%;
}

.selected-pg {
    width: 100%;
}

.selected-pg-div {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.edit-char-button {
    position: absolute;
    right: 1rem;
    up: 0rem;
    z-index: 1;
}

.new-button {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    left: 2rem;
    z-index: 1;
}

.normal-card {
    margin: 0rem;
}

.edit-buff-button {
    position: absolute;
    right: 2rem;
    up: 0rem;
    z-index: 1;
}

.mat-icon-sel {
}

.descriptions-container {
}

.mat-chip-descriptions {
    left: 0.8rem;
}

.option-row {
    z-index: 0;
}

.primary-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1;
}

.mat-card {
    text-align: center;
}

.mat-card-title {
    text-align: center;
    align-self: center;
    justify-content: center;
    font-size: medium;
}

