mat-drawer-container {
    height: 100%;
}

mat-toolbar {
}

#home-toolbar {
}

mat-chip-list {
    width: 100%;
    max-width: 500px;
}

mat-tab-group {
    flex: 1 1 auto;
    overflow: auto;
    flex-grow: 1;
}


.sidenav {
    position: fixed;
    width: 80%;
    max-width: 20rem;
    top: 0;
    z-index: 4;
}

.x-button {
    position: absolute;
    right: 1rem;
}

.new-button {
    width: 80%;
}

.selected-pg {
    width: 100%;
}

.selected-pg-div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.edit-char-button {
    position: absolute;
    right: 1rem;
    up: 0rem;
    z-index: 1;
}

.new-button {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    left: 2rem;
    z-index: 1;
}

.normal-card {
    width: 55%;
    min-height: 4rem;
    max-width: 20rem;
    text-align: center;
    margin: 0 auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.normal-card-combat {
    width: 90%;
    min-height: 4rem;
    max-width: 20rem;
    text-align: center;
    margin: 0 auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

mat-card-title {
    text-align: center;
}

.ts-card {
    width: 100%;
    min-height: 4rem;
    max-width: 20rem;
    text-align: center;
    margin: 0 auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.edit-buff-button {
    position: absolute;
    right: 2rem;
    up: 0rem;
    z-index: 1;
}

.mat-icon-sel {
}

.descriptions-container {
}

.mat-chip-descriptions {
    left: 0.8rem;
}

.option-row {
    z-index: 0;
}

.hidden-option-row {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.primary-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1;
}

.mat-card {
    text-align: center;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.mat-card-title {
    text-align: center;
    align-self: center;
    justify-content: center;
    font-size: medium;
}

.selected {
    background-color: lightgrey;
}

.unselected {

}
