.actual-pg {
  width: 100%;
}

.toggle {
  margin: 1rem;
}

.actual-pg-div {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.table-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-div {
  display: flex;
  align-items: center;
}

.col-div {
  display: flex;
  flex-direction: column;
}
