mat-drawer-container {
  flex: 1 1 auto;
  flex-grow: 1;
  overflow: auto;
}

.mat-card-buffs {
  width: 95%;
  max-width: 500px;
  margin: 1rem auto;
}

.actual-pg {
  width: 100%;
}

.toggle {
  position: absolute;
  right: 1rem;
}

.actual-pg-div {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.table-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-div {
  display: flex;
  align-items: center;
}

.col-div {
  display: flex;
  flex-direction: column;
}

.description-div {
  position: absolute;
  right: 3rem;
  overflow: hidden;
  text-overflow: fade;
  display: -webkit-box;
  max-width: 40%;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
