<mat-toolbar color="primary">
  <button mat-button color="secondary" routerLink="" style="left: -1rem">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div class="actual-pg-div">
    {{ actualGameCharacter.name }}
  </div>
</mat-toolbar>

<mat-card style="height: 95%">
  <mat-slide-toggle (click)="onToggleChange($event)">
    Tutti i buffs
  </mat-slide-toggle>
  <mat-card>
    <mat-card-content *ngIf="this.allBuffs === false">
      <ng-container *ngFor="let buff of activeCombatBuffs">
        <div style="display:flex; justify-content:space-between; align-items:center">
          <div style="display:flex; align-items:center">
            <div style="display:flex; flex-direction:column">
              <div>
                {{ buff.name }}
              </div>
            </div>
          </div>
          <div>
            {{ buff.description }}
          </div>
          <div>
            <mat-icon color="accent" *ngIf="buff.isBonus === true">arrow_drop_up</mat-icon>
            <mat-icon *ngIf="buff.isBonus === false">arrow_drop_down</mat-icon>
          </div>
        </div>
      </ng-container>
      <ng-container *ngFor="let buff of activeACBuffs">
        <div style="display:flex; justify-content:space-between;align-items:center">
          <div style="display:flex;align-items:center">
            <div style="display:flex; flex-direction:column">
              <div>
                {{ buff.name }}
              </div>
            </div>
          </div>
          <div>
            {{ buff.description }}
          </div>
          <div>
            <mat-icon color="accent" *ngIf="buff.isBonus === true">arrow_drop_up</mat-icon>
            <mat-icon *ngIf="buff.isBonus === false">arrow_drop_down</mat-icon>
          </div>
        </div>
      </ng-container>
      <ng-container *ngFor="let buff of activeSTBuffs">
        <div style="display:flex; justify-content:space-between;align-items:center">
          <div style="display:flex;align-items:center">
            <div style="display:flex; flex-direction:column">
              <div>
                {{ buff.name }}
              </div>
            </div>
          </div>
          <div>
            {{ buff.description }}
          </div>
          <div>
            <mat-icon color="accent" *ngIf="buff.isBonus === true">arrow_drop_up</mat-icon>
            <mat-icon *ngIf="buff.isBonus === false">arrow_drop_down</mat-icon>
          </div>
        </div>
      </ng-container>
    </mat-card-content>
    <mat-card-content *ngIf="this.allBuffs === true">
      <ng-container *ngFor="let buff of this.actualGameCharacter.buffs">
        <div style="display:flex; justify-content:space-between; align-items:center">
          <div style="display:flex; align-items:center">
            <div style="display:flex; flex-direction:column">
              <div>
                {{ buff.name }}
              </div>
            </div>
          </div>
          <div>
            {{ buff.description }}
          </div>
          <div>
            <div *ngIf="buff.selected === true">
              <mat-icon color="accent" *ngIf="buff.isBonus === true" style="visibility: visible">arrow_drop_up</mat-icon>
              <mat-icon *ngIf="buff.isBonus === false" style="visibility: visible">arrow_drop_down</mat-icon>
            </div>
            <div *ngIf="buff.selected === false">
              <mat-icon color="accent" *ngIf="buff.isBonus === true" style="visibility: hidden">arrow_drop_up</mat-icon>
              <mat-icon *ngIf="buff.isBonus === false" style="visibility: hidden">arrow_drop_down</mat-icon>
            </div>
          </div>
        </div>
      </ng-container>
    </mat-card-content>
  </mat-card>
</mat-card>
